@import "./reset.css";



.fancybox-slide.watermark .fancybox-spaceball {
    background-image: url('http://fancyapps.com/GJbkSPU.png');
    background-size: cover;
    background-repeat: no-repeat;
  }

body {
    max-width: 125%;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto Slab', serif;
    overflow-x: hidden;
    background-color: #fff;
    padding: 0;
    margin: 0;
}

/*div {
    box-sizing: border-box;
    border: 1px solid greenyellow;
    margin: 0 auto;
}*/
 
h2 {
    font-size: 30px;
    position: relative;
    text-align: center;
  }

h2::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100px;
    height: 1px;
    background-color: #000;
    right: 0;
    margin: 0 auto;
    display block;
  }

/*heder*/

.bg {
    background: url(../images/home-background.jpg) no-repeat center top / cover;
    height: 100vh;
}

header {
   
    padding-bottom: 0px;
}



.container {
    width: 1140px;
    margin: 0 auto;
    /*border: 1px solid rgb(177, 169, 169);*/
    
}

.logo-startap {
margin-top: 28px;

}
nav {
    float: right;
    margin-top: 40px;
}

.menu {
    padding: 0;
    margin: 0;
    display: block;
}

.menu li {
    float: left;
    display: block;
    margin-right: 35px;
}

.menu li a {
    color: #fff;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 36px;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    margin-top: 200px;
    

}
.titles_first {
    font-family: 'Roboto Slab', serif;
    font-size: 14px;
    color: #fff;
    text-align: center;
    margin-top: 30px;
}

.button {
    background: url(../images/bg_button.png);
    color: white;
    border: 2px;
    border-radius: 3px;
    border-color: white;
    border-style: solid;
    display: block;
    width: 170px;
    padding: 20px 0;
    margin: 0 auto;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    margin-top: 55px;
    
    /*margin-bottom: 350px;*/
}

.welcom {
    margin-bottom: 100px;
}

.title {
    margin-top: 100px;

}

/*servises*/

.title h2 {
    
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    margin-top: 0px;
}

.title p {
    color: #555555;
    text-align: center;
    font-family: 'Roboto Slab', serif;
    font-size: 11px;
    margin-top: 5px;
}

.services {
    margin-top: 80px;
}

.wrapper {
    margin-top: 20px;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1px;
}

.wrapper h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    margin-top: 30px;
    margin-bottom: 30px;
}

.wrapper img {
    margin-left: 150px;
    margin-top: 50px;
}

.wrapper p {
    font-family: 'Roboto Slab', serif;
    font-size: 12px;
    text-align: center;
    line-height: 20px;
    margin-top: 0px;
    padding-bottom: 10px;
}

/* about us*/
.about-bg {
    background-color: #f8f8f8;
    padding-bottom: 0px;
}

.about_us {
    margin-top: 20px;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    grid-gap: 40px;
}
.about_us p {
    font-family: 'Roboto Slab', serif;
    text-align: left;
    line-height: 20px;
    margin-top: 0px;
    margin-bottom: 75px;
    margin-top: 75px;
}

.about_name {
    color: #555555;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    padding-bottom: 20px;
}

.slick-prev,
.slick-next {
  position: absolute;
  top: 45%;
  height: 50px;
  width: 45px;
  z-index: 1;
  cursor: pointer;
  opacity: 0.5;
  justify-content: center;
  text-align: center;
  background: rgba(0, 0, 0, .5);
  transform: translateY(-50%);
}

.slick-next {
    right: 12px;
}

.slick-prev {
    left: 1px;
}

/*Latest works*/
.latest-works {

}
#latest {
    margin-bottom: 80px;
    text-align: center;
}

ul#latest li {
    display:inline-block;
    
    
}

#latest li {
    margin-left: 1px;
    display: inline-block;
    text-align:;
}

#latest a {
    display: block;
    padding: 5px 5px;
    color: #0e0d0d;
    text-decoration: none;
    
}

#latest a:hover {
    color:#c0301c;
}








#grid { 
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 0,5vw;
    }
  #grid > a {
    margin: 5px;
    font-size: 1px;
    padding: 1px;
    background: #f8f8f8;
    text-align: center;
}
/*do you*/

.bg-do-you {
    background: url(../images/hands_bg.jpg) no-repeat center top / cover;
    padding-bottom: 260px;
}

.do-you {
    padding-bottom: 100px;
    margin-top: 100px;
}

.do-you h2 {
    font-family: 'Roboto Slab', serif;
    font-size: 25px;
    line-height: 2;
    font-weight: bold;
    font-weight: 300;
    text-align: center;
    color: #fff;
    margin-top: 100px;
}

.button-get {
    
    color: white;
    border: 2px;
    border-radius: 3px;
    border-color: white;
    border-style: solid;
    display: block;
    width: 170px;
    padding: 20px 0;
    margin: 0 auto;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Roboto Slab', serif;
    font-size: 18px;
    font-weight: 300;
    margin-top: 55px;
    margin-bottom: 0px;
}






/*recent blog post*/
.recent-blog h2 {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-size: 16px;
    margin-top: 50px;
    margin-bottom: 20px;
}
.recent-blog p {
    text-align: center;
    font-family: 'Roboto Slab', serif;
    margin-top: 20px;
    margin-bottom: 20px;
    
}

.recent {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
   
    grid-column-gap: 5px;
    grid-row-gap: 80px;
    
}

.float {
    float: left;
    margin-right: 40px;
}

.recent-blog h4 {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    margin-top: 20px;
    margin-bottom: 25px;
}

.recent-blog h5 {
    font-family: 'Roboto Slab';
    font-style: italic;
    font-size: 14px;
}

.recent-blog p {
    text-align: left;
    line-height: 2.0;

}


/*client*/
.client {
    padding-bottom: 100px;
    margin-top: 100px;
}

.logo {
    padding-bottom: 100px;
    margin-top: 80px;
}

.bg-client {
    background-color: #f8f8f8;
    padding-bottom: 260px;
}

.wrapper-client {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-auto-rows: 50px;
}



.client_1 {
    margin-top: 23px;
    margin-left: 60px;
}

.client_2 {
    margin-top: 3px;
    margin-left: 60px;
}

.client_3 {
    margin-top: 26px;
    margin-left: 60px;
}

.client_4 {
    margin-top: 13px;
    margin-left: 60px;
}

.client_5 {
    margin-top: 15px;
    margin-left: 60px;
}

.client p {
    font-family: 'Roboto Slab';
    font-style: italic;
    font-size: 14px;
    text-align: center;
    line-height: 2.0;
}

.client h5 {
    font-family: 'Roboto Slab';
    text-align: center;
    line-height: 4.0;
    font-weight: 600;
}

/*get in touch*/
.get-in p {
    font-family: 'Roboto Slab';
    font-style: italic;
    font-size: 14px;
    text-align: center;
    line-height: 2.0;
}
#outer-grid {
    display: grid;
    grid-template-rows: auto;
    grid-template-rows: ;
    grid-template-columns: 300px auto;
    grid-template-columns: ;
    grid-gap: 8px;
    }
    #outer-grid > div {
    
    
    font-size: 4vw;
    padding: 8px;
    }
    #inner-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5px;
    }
    #inner-grid > div {
   
    padding: 8px;
    }

.form-block input, .form-block textarea {
    background: #ffffff;
    border: 1px solid #e6e6ec;
    line-height: 45px;
    height: 44px;
    padding-left: 22px;
    padding-right: 22px;
    width: 90%;
    margin-bottom: 10px;
    display: block;
    text-transform: capitalize;
    font-size: 13px;
    color: #a1a1a6;
    font-family: 'Merriweather', serif;
}

.form-block textarea {
    min-height: 192px;
    resize: none;
    margin-bottom: 20px;
}

.detail-submit {
    line-height: 40px;
    border: 2px solid #2b2a2f;
    min-width: 122px;
    background: #fff;
    text-align: center;
    text-transform: uppercase;
    font-size: 16px;
    color: #ee3135;
    display: block;
    font-weight: 700;
    height: 44px;
}




 .block {
    text-align: center;  /* выравнивание заголовка по центру обертки */
    width: 80%;          /* ширина обертки. На самом деле для фиксированной верстки можно использовать и px, но лучше сразу адаптировать под разные устройства, т.к. это, что называется, тренди :-) */
    margin: 0 auto;      /* выравнивание обертки по центру документа */
    overflow: hidden;    /* прячем линии за границами обертки, чтобы в случае изменения ширины экрана линии не выходили за ее пределы */
}


/*footer*/

.wrapper-futer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 50px 50px 50px 50px 50px;
    grid-auto-rows: 40px;
    justify-content: center;
}

.bg-footer {
    background-color: #c0301c;
    padding-bottom: 260px;
}

.foot h5 {
    font-family: 'Roboto Slab';
    color: #fff;
    text-align: center;
    line-height: 4.0;
    font-weight: 600;
}
